<footer class="site-footer">
  <div class="footer-columns">
    <div class="footer-col">
      <h4>Match22</h4>
      <p>Find your next favorite book.</p>
    </div>

    <div class="footer-col">
      <h4>Explore</h4>
      <ul>
        <li><a href="/recommendations.html">Recommendations</a></li>
        <li><a href="/discover.html">Discover</a></li>
        <li><a href="/mybooks.html">My Books</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Info</h4>
      <ul>
        <li><a href="https://github.com/lisa-pug/match22">Become a beta tester!</a></li>
        <li><a href="https://github.com/lisa-pug/match22">Report bugs or request features</a></li>
        <li><a href="https://github.com/lisa-pug/match22">Changelog</a></li>
      </ul>
    </div>

  <div class="footer-bottom">
    <p>2026 Match22. An OCR A Level CS NEA.</p>
  </div>
</footer>