<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-logo">
      <img src="/assets/logo.png" alt="Logo" class="logo-img">
    </a>
    <ul class="navbar-links">
      <li><a href="/recommendations.html">Recommendations</a></li>
      <li><a href="/discover.html">Discover</a></li>
      <li><a href="/mybooks.html">My Books</a></li>
    </ul>
  </div>

  <div class="navbar-right">
    <input type="text" class="navbar-search" placeholder="Search">
    <a href="/auth.html" class="navbar-auth-btn">Sign up / Sign in</a>
  </div>
</nav>