<nav class="navbar">
  <div class="navbar-left">
    <a href="/" class="navbar-logo">
      <img src="/assets/sitelogo.png" alt="Logo" class="logo-img">
    </a>
    <ul class="navbar-links">
      <li><a href="/recommendations.html">Recommendations</a></li>
      <li><a href="/discover.html">Discover</a></li>
      <li><a href="/mybooks.html">My Books</a></li>
      <input type="text" class="navbar-search" placeholder="Search">
    </ul>
  </div>

  <div class="navbar-right">
    <div class="auth-pill">
      <a href="/signup.html" class="auth-half">Sign up</a>
      <span class="auth-divider"></span>
      <a href="/signin.html" class="auth-half">Sign in</a>
    </div>
  </div>
</nav>